<!-- <div class="main">
  <div class="imageArea">
    <img src="../../assets//mohan.jpeg" />
  </div>
  <div class="textArea"></div>
</div>
<div></div> -->

<div class="fluid-container" style="background-color: #1d1d1d">
  <div class="container">
    <div
      class="card"
      style="width: 18rem; margin-left: 50%; transform: translate(-50%)"
    >
      <img
        class="card-img-top"
        src="../../assets//mohan.jpeg"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title" style="font-weight: bolder; font-size: large">
          Girindra Mohan
        </h5>
        <p class="card-text">
          Hey, I am Girindra Mohan owner of this website.I started this website as my passion.
          I have build this website in 2 days. I have used node js for backend and Angular for frontend.
          If you want to know more about me you can follow my
          social media handle using below links.Thanks
        </p>
        <div style="display: block; text-align: center">
          <a href="https://www.facebook.com/diwakar.kumar.5458" class="btn btn-primary"
            ><i class="fab fa-facebook"></i
          ></a>
          <a
            href="https://www.instagram.com/girindra_mohan/"
            class="btn btn1"
            style="color: #8a3ab9 !important"
            style="margin-left: 3px"
            ><i class="fab fa-instagram"></i
          ></a>
          <a href="#" class="btn btn-primary" style="margin-left: 3px"
            ><i class="fab fa-twitter"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</div>
