<div class="bg">
  <div class="container">
    <div class="container-fluid card-row row" id="newscard">
      <div>
        <a class="nounderline" [routerLink]="['/content', 'java']">
          <div class="card card-box my-5 mx-3" style="width: 18rem">
            <img
              class="card-img-top"
              src="../../assets/java.png"
              alt="Card image cap"
            />
            <div class="card-body">
              <h3 style="font-weight: bold" class="card-title">java</h3>
              <p class="card-text">
                Get the best tutorial and excercises with example.We are
                providing the best tutorial.
              </p>
            </div>
          </div></a
        >
      </div>

      <div>
        <a class="nounderline" [routerLink]="['/content', 'C Language']">
          <div class="card card-box my-5 mx-3" style="width: 18rem">
            <img
              class="card-img-top"
              src="../../assets/clanguage.png"
              alt="Card image cap"
            />
            <div class="card-body">
              <h3 style="font-weight: bold" class="card-title">C Language</h3>
              <p class="card-text">
                Get the best tutorial and excercises with example.We are
                providing the best tutorial.
              </p>
            </div>
          </div></a
        >
      </div>

      <div>
        <a class="nounderline" [routerLink]="['/content', 'c programming questions']">
          <div class="card card-box my-5 mx-3" style="width: 18rem">
            <img
              class="card-img-top"
              src="../../assets/clanguage.png"
              alt="Card image cap"
            />
            <div class="card-body">
              <h3 style="font-weight: bold" class="card-title">C Programming Questions</h3>
              <p class="card-text">
                Get the best tutorial and excercises with example.We are
                providing the best tutorial.
              </p>
            </div>
          </div></a
        >
      </div>

      <div>
        <a class="nounderline" [routerLink]="['/content', 'datascience']">
          <div class="card card-box my-5 mx-3" style="width: 18rem">
            <img
              class="card-img-top"
              src="../../assets/DataScience.jpeg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h3 style="font-weight: bold" class="card-title">Data Science</h3>
              <p class="card-text">
                Get the best tutorial and excercises with example.We are
                providing the best tutorial.
              </p>
            </div>
          </div></a
        >
      </div>

      <div>
        <a class="nounderline" [routerLink]="['/content', 'nodejs']">
          <div class="card card-box my-5 mx-3" style="width: 18rem">
            <img
              class="card-img-top"
              src="../../assets/Nodejs.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h3 style="font-weight: bold" class="card-title">NodeJS</h3>
              <p class="card-text">
                Get the best tutorial and excercises with example.We are
                providing the best tutorial.
              </p>
            </div>
          </div></a
        >
      </div>

      <div>
        <a class="nounderline" [routerLink]="['/content', 'universityq']">
          <div class="card card-box my-5 mx-3" style="width: 18rem">
            <img
              class="card-img-top"
              src="../../assets/university.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h3 style="font-weight: bold" class="card-title">
                University Questions
              </h3>
              <p class="card-text">
                Get questions and answer of famous University of India.We are
                updating this as per need.
              </p>
            </div>
          </div></a
        >
      </div>
    </div>
  </div>
</div>
